@font-face {
	font-family: 'Cambria';
	src: url('../public/fonts/cambria-regular.ttf');
}

@font-face {
	font-family: 'Cambria-bold';
	src: url('../public/fonts/cambria-bold.ttf');
}

@font-face {
	font-family: 'Cambria-italic';
	src: url('../public/fonts/cambria-italic.ttf');
}

@font-face {
	font-family: 'Cambria-bold-italic';
	src: url('../public/fonts/cambria-italic.ttf');
}