$main_bg: #151D2E;
$main_bg_button: #5A88EB;
$main_bg_button_hover: #4369b9;
$red_color: #EA5455;
$modal_bg: #273450;

$font-family: 'Cambria', sans-serif;
$font-family-bold: 'Cambria-bold', sans-serif;
$font-family-italic: 'Cambria-italc', sans-serif;
$font-family-bold-italic: 'Cambria-bold-italic', sans-serif;